@model MvcOtomasyon2025Udemy.Models.Invoice
@{
    ViewBag.Title = "GetInvoice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<h2>Invoice Update Pages</h2>

@using (Html.BeginForm("UpdateInvoice", "Invoice", FormMethod.Post))
{

    @Html.HiddenFor(x => x.InvoiceID)
    @Html.LabelFor(x => x.InvoiceSerialNumber)
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoiceSequenceNumber)
    @Html.TextBoxFor(x => x.InvoiceSequenceNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Deliverer)
    @Html.TextBoxFor(x => x.Deliverer, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Recipient)
    @Html.TextBoxFor(x => x.Recipient, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Güncelle</button>
}




