﻿@using MvcOtomasyon2025Udemy.Models
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cariler</h2>
<br />

<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CurrentID</td>
            <td>@x.CurrentName</td>
            <td>@x.CurrentSurname</td>
            <td>@x.CurrentCity</td>
            <td>@x.CurrentMail</td>
            <td><a href="/Current/DeleteCurrent/@x.CurrentID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Current/GetCurrent/@x.CurrentID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Current/CurrentSale/@x.CurrentID" class="btn btn-default" style="background-color:lightcoral;">Satış Geçmişi</a></td>
        </tr>

    }
</table>
<a href="/Current/NewCurrent/" class="btn btn-info">
    Yeni Cari Ekle
</a>